html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

.mypage {
  &--header {
    background-color: #000000;
  }

  .mypage--section {
    padding: 90px 0;
  }

  .mypage--section__red {
    background-color: #ff0000;
  }

  &--header {
    padding: 90px 0;

    &__red {
    }
  }

  .mypage--footer {
  }
}
